.cartCount,
.menu ul,
.navbar {
  display: flex;
  display: flex;
}
.menu ul,
.menu ul li {
  background-color: transparent;
}
.logoname span,
.menu ul li {
  font-family: Montserrat, sans-serif;
  color: var(--blackColor);
}
.logoname span,
.menu ul li,
.menu ul li a {
  color: var(--blackColor);
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 25px 30px;
  justify-content: space-around;
  background-color: #999999bb;
  z-index: 2;
  top: 0;
}
:root {
  --blackColor: #000;
  --kanitFont: "Kanit", sans-serif;
}
.cartCount {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: -8px;
  font-family: kanit;
  right: -13px;
  font-size: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logoname span {
  font-size: 20px;
  animation: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both focus-in-contract-bck;
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.menu ul {
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}
.menu ul li {
  list-style: none;
  margin: 0 25px;
  height: 28px;
  transition: 0.5s ease-in;
  position: relative;
}
.menu ul li:hover {
  border-bottom: 1px solid var(--blackColor);
}
.menu ul li a {
  text-decoration: none;
}
.menuIcon {
  font-size: 20px;
  display: none;
}
.menuIcon > i {
  color: #000;
  cursor: pointer;
}
.menuSlider {
  background-color: #000;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.menubarforSlider,
.menubarforSlider > ul {
  width: 100%;
  height: 100%;
}
@keyframes slider {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
body.menu-open .menuSlider {
  transform: translateX(0);
}
.xmark {
  font-size: 23px;
  position: absolute;
  right: 40px;
  top: 10px;
  cursor: pointer;
}
.favioratedetails > h3,
.favoritelogo {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
}
.menubarforSlider > ul {
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menubarforSlider > ul > li {
  list-style: none;
  text-decoration: none;
  margin: 20px 0 0;
  padding: 20px;
  width: 70%;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.menubarforSlider > ul > li > a {
  text-decoration: none;
  color: #fff;
}
.profilebody {
  width: 30vw;
  height: 85vh;
  position: fixed;
  z-index: 4;
  top: 5rem;
  right: 0;
  backdrop-filter: blur(7px) saturate(110%);
  -webkit-backdrop-filter: blur(7px) saturate(110%);
  background-color: rgba(153, 153, 153, 0.52);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  overflow-y: scroll;
}
.xmark > i {
  color: #fff;
}
.prilfilelist {
  padding: 20px;
  color: #000;
}
.prilfilelist > .logo {
  width: 70px;
  height: 70px;
  display: flex;
  justify-self: center;
}
.prilfilelist > .logo > img {
  width: 100%;
  border-radius: 50%;
}
.prilfilelist > ul > .username {
  text-align: center;
  border-bottom: none;
}
.prilfilelist > ul > .username > b {
  margin-right: 30px;
  color: #000;
}
.prilfilelist > ul > a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
.prilfilelist > ul > a > li {
  color: #000;
  list-style: none;
  line-height: 70px;
  font-family: Kanit;
  font-size: 17px;
  width: 100%;
}
.prilfilelist > ul > a > li:hover {
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.prilfilelist > ul > a > li > i {
  color: #000;
  margin: 0 5px;
}
.logoutbtn {
  display: flex;
  justify-content: center;
  border-bottom: none !important;
}
.LBtn {
  width: 10vw;
  height: 6vh;
  color: #fff;
  background-color: #000;
  transition: 0.2s ease-in;
  line-height: 0;
  margin-top: 70px;
  border-bottom: none;
}
.LBtn:hover {
  background-color: #fff;
  color: #000;
}
.favoritelogo {
  padding: 10px;
  position: relative;
  top: 30px;
  left: 20px;
  color: var(--blackColor);
}
.favioratedetails > h3 {
  color: #000;
  position: relative;
  top: 60px;
  text-align: center;
  font-weight: 400;
}
.favproductList {
  position: relative;
  top: 100px;
  left: 0;
}
.favproductList > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 20px;
}
.favproductList > ul > li {
  list-style: none;
  color: #000;
  flex: 1;
  cursor: pointer;
}
.favproductList > ul > .img {
  width: 100px;
  height: 100px;
}
.favproductList > ul > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.favproductList > ul > .deleteicon > i {
  color: #000;
  transition: 0.5s;
}
.favproductList > ul > .deleteicon > i:hover {
  color: red;
  cursor: pointer;
}
.EmptyFav {
  color: #000;
  font-size: 24px;
  font-family: kanit;
  text-align: center;
  position: relative;
  top: 200px;
}
@media screen and (max-width: 767px) {
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .menu {
    display: none;
  }
  .logoname span {
    font-size: 1em;
  }
  .menuIcon {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    width: 100% !important;
    max-width: 1023px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    align-items: start;
  }
  .logoname {
    padding-bottom: 20px !important;
    width: 80%;
    text-align: center;
  }
  .menu {
    display: block;
    width: 80% !important;
  }
  .menu > ul {
    padding: 0;
    justify-content: space-evenly;
  }
  .menu > ul > li {
    margin: 0 10px 0 0;
  }
  .logoname span {
    font-size: 1em !important;
  }
  .menuIcon {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .navbar {
    width: 100%;
    max-width: 1439px !important;
  }
}
@media screen and (min-width: 1440px) {
  .navbar {
    width: 100%;
    min-width: 1440px !important;
  }
}
